@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "AllTicketSort";
}

<h1>All Tickets</h1>
<form method="get" asp-action="AllTicketSort">
    <select asp-items="@ViewBag.sortList" name="filterId">

    </select>
   <input type="submit" value="Sort" class="btn btn-primary" style="margin: 2rem 0rem 2rem 0rem;"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter.Id)
            </td>
            <td>
                <a asp-action="UpdateTicket" asp-route-ticketId="@item.Id">Edit</a> |
                <a asp-action="TicketDetails" asp-route-ticketId="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
