@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "UpdateTicket";
}

<h1>Update Ticket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ticketId" value="@Model.Id"/>
            <input type="hidden" asp-for="SubmitterId" value="@Model.SubmitterId"/>
            <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId"/>
            <input type="hidden" asp-for="CreatedDate" value="@Model.CreatedDate"/>
            <input type="hidden" asp-for="UpdatedDate" value="@Model.UpdatedDate"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="@Html.GetEnumSelectList<TicketPriority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<TicketStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<TicketType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin: 2rem 0rem 2rem 0rem;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Ticket" asp-action="AllTicketSort">Back to All Tickets</a>
    <a asp-controller="Ticket" asp-action="ListDeveloperTickets">Back to Developer's Tickets</a>
    <a asp-controller="Ticket" asp-action="ProjectTickets">Back Project's List of Tickets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
